.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    position: relative;
}

.form {
    padding: 22px 46px;
    border-radius: 5px;
    background: violet;
}

.btn {
    border: 2px solid black;
}
